<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./TestHelper.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
         <testsuites>
         	<testsuite name="Phalcon-models">
    			<directory>models</directory>
    		</testsuite>
    		<testsuite name="Phalcon - Testsuite">
    			<directory>logic</directory>
    		</testsuite>
            <testsuite name="Phalcon - Testsuite">
                <directory>common</directory>
            </testsuite>
     	</testsuites>
</phpunit>
